<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appleAppID</key>
	<string>6756777842</string>
	<key>appsFlyerDevKeyProd</key>
	<string>vEbzV4hdsUG5GpQYLeXsHS</string>
	<key>appsFlyerDevKeyTest</key>
	<string>vEbzV4hdsUG5GpQYLeXsHT</string>
</dict>
</plist>
